/**
 * DanxDialog Styles
 *
 * Main entry point that imports all dialog CSS modules.
 * See individual files for detailed documentation.
 */

@import "../../shared/tokens/index.css";
@import "./dialog-tokens.css";
@import "./dialog-layout.css";
@import "./dialog-breadcrumbs.css";
