/**
 * danx-ui Complete Styles
 *
 * Import this file to get all styles including:
 * - Tailwind CSS base
 * - Token system (primitives, semantics, dark mode)
 * - All component styles
 *
 * For granular control, import individual component styles instead.
 */

@import "tailwindcss";
@import "./shared/tokens/index.css";
@import "./components/badge/badge.css" layer(components);
@import "./components/button/button.css" layer(components);
@import "./components/chip/chip.css" layer(components);
@import "./components/icon/icon.css" layer(components);
@import "./components/code-viewer/code-viewer.css" layer(components);
@import "./components/context-menu/context-menu.css" layer(components);
@import "./components/dialog/dialog.css" layer(components);
@import "./components/popover/popover.css" layer(components);
@import "./components/markdown-editor/markdown-editor.css" layer(components);
@import "./components/buttonGroup/button-group.css" layer(components);
@import "./components/tabs/tabs.css" layer(components);
@import "./components/tooltip/tooltip.css" layer(components);
@import "./components/progress-bar/progress-bar.css" layer(components);
@import "./components/split-panel/split-panel.css" layer(components);
@import "./components/scroll/scroll.css" layer(components);
@import "./components/skeleton/skeleton.css" layer(components);
@import "./components/danx-file/danx-file.css" layer(components);
@import "./components/danx-file-viewer/danx-file-viewer.css" layer(components);
